@page "/counter"


<h1>Counter</h1>
<p>This page will show a counter</p>
<div class="container">
    <div class="wrapper">
        <h3 class="count-text">Count: @currentCount</h3>

        <div class="counter-buttons">
            <button type="button" class="btn btn-success" @onclick="IncrementCount">
                <span class="oi oi-minus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" @onclick="IncrementCount">
                <span class="oi oi-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
